<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分兑换页面</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bbc/css/pay.css' %}" >
</head>
<body>

<form action="{% url 'bbc:exchange_2' %}" method="post" id="frmMain">
    {% csrf_token %}
    <div id="j1">
        <div id="v2" class="k1"></div>
        <p class="k2" id="v3">积分兑换</p>
        <div id="v4">
        <p>支付积分：<span id="b1">20,000</span>   原vip 1级抵扣20,000积分</p>
        </div>
        <p class="k2" id="v6">选择购买方式</p>
        <label for="v10" class="k5" id="n1" >
            <img src="{% static 'bbc/img/v1.png' %}" alt="">
            <span>20,000积分</span>
            <p>每个月可免费发
                布2条新闻
            </p>
        </label>
        <input type="radio" name="price" value="1" id="v10" >
        <input type="hidden" name="intg" id="n4" >
        <label for="v11" class="k5" id="n2">
            <img src="{% static 'bbc/img/v2.png' %}" alt="">
            <span>50,000积分</span>
            <p>每个月可免费发
                布5条新闻
            </p>
        </label>
        <input type="radio" name="price" value="2" id="v11">
        <label for="v12" class="k5" id="n3">
            <img src="{% static 'bbc/img/v3.png' %}" alt="">
            <span>100,000积分</span>
            <p>每个月可免费发
                布10条新闻
            </p>
        </label>
        <input type="radio" name="price" value="3" id="v12">
        <input type="button" value="确认支付" id="v13">
    </div>

    </form>
</body>
 <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script language="JavaScript" type="text/JavaScript">
    {% if user_1 %}
        var a = {{ user_1.vip }}
        var c = {{ user_1.integral }}
        if(a==0){
            b = 0
        }if(a==1){
            b = 20000
        }if(a==2){
            b = 30000
        }if(a==3){
            b = 50000
        }

    $('#n1').click(function(){
        $(this).css({'border':'2px solid #1992EF'}),
        $('#n2').css({'border':'1px solid #D9D9D9'}),
        $('#n3').css({'border':'1px solid #D9D9D9'});
        if (c < 20000-b){
               alert('积分不足无法进行兑换')
               return
        }
        if(20000-b <= 0){
             $('#b1').html(0)
             $('#n4')[0].value=0
        }else{
             $('#b1').html(20000-b)
             $('#n4')[0].value=20000-b
        }
    })
    $('#n2').click(function(){
        $(this).css({'border':'2px solid #1992EF'}),
        $('#n1').css({'border':'1px solid #D9D9D9'}),
        $('#n3').css({'border':'1px solid #D9D9D9'});
         if (c < 50000-b){
               alert('积分不足无法进行兑换')
               return
        }
         $('#b1').html(50000-b)
         $('#n4')[0].value=50000-b
    })
    $('#n3').click(function(){
        $(this).css({'border':'2px solid #1992EF'}),
        $('#n2').css({'border':'1px solid #D9D9D9'}),
        $('#n1').css({'border':'1px solid #D9D9D9'});
         if (c < 100000-b){
               alert('积分不足无法进行兑换')
               return
        }
         $('#b1').html(100000-b)
         $('#n4')[0].value=100000-b
    })
    $('#v7').click(function(){
        $(this).css({'border':'2px solid #1992EF'}),
        $('#v9').css({'border':'1px solid #D9D9D9'});
    })
      $('#v9').click(function(){
        $(this).css({'border':'2px solid #1992EF'}),
        $('#v7').css({'border':'1px solid #D9D9D9'});
    })
    $('#v13').click(function(){
        choice = $('#n4').val();
        console.log(choice)
    if (choice.length>0){
        $("#v13").attr('disabled', true);
	    frmMain.submit();
    }else{
        alert('请选择兑换积分')
    }})
    {% endif %}
</script>
</html>