{% extends 'bbc/set_person.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>我的积分页面</title>{% endblock %}
    {% block sta %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bbc/css/my_integral.css' %}" >
    {% endblock %}
</head>
<body>
     {% block s9 %}
        <div class="s9">
            <p><a href="{% url 'bbc:set_person' %}">个人资料</a></p>
            <p><a href="{% url 'bbc:change_pwd' %}">修改密码</a></p>
            <p><a href="{% url 'bbc:login_out' %}">退出登录</a></p>
        </div>
        {% endblock %}
      {% block jf %}
        <div class="s8" id="v9">
            <img src="{% static 'bbc/img/my_jf.png' %}" alt="">
            <p><a href="">我的积分</a></p>
        </div>
        {% endblock %}

    {% block s4 %}
      <div id="j1">
        <div id="v2" class="k1"></div>
        <p class="k2" id="v3">我的积分</p>
        <div id="v4">
            <span>当前剩余积分：
            <span id="l3">{{ user_1.integral }}</span></span>
        </div>
        <div id="v10"><a href="{% url 'bbc:exchange' %}">兑换会员</a></div>
        <div class="k1" id="v5"></div>
        <p class="k2" id="v6">积分说明</p>
        <div class="k5">

            <p>本积分与cny兑换比例为10:1cny.可与XXX币做等值兑换.
                用户每分享一次新闻给好友.只要好友允许获取微信openid并打开.即可获得1积分.最多5积分.同一
                个新闻每个用户第一次阅读有效...
            </p>
        </div>

        <div class="k1" id="v7"></div>
        <p class="k2" id="v8">积分账单</p>
        {% if cus_list %}
          {% for i in cus_list %}
         <div id="m1">
             <span>{{ i.pays }}</span><span>{{ i.money }}</span><span>{{ i.time|date:'Y-m-d' }}</span>
         </div>
         {% endfor %}
          {% else %}
          <p id="m2"> 暂时还没有积分兑换记录 </p>
{% endif %}

    </div>

<nav aria-label="Page navigation" class="pag">
<ul>
    {% if cus_list.has_previous %}
    <li>
    <a href="?page={{ cus_list.previous_page_number }}" aria-label="上一页">
        <span aria-hidden="true">上一页</span>
    </a>
    </li>
    {% endif %}
    {% for pg in cus_list.paginator.page_range %}
    {% load bbc_filter %}
    {% circle_page cus_list.number pg %}
    {% endfor %}

    {% if cus_list.has_next %}
    <li>
        <a href="?page={{ cus_list.next_page_number }}" aria-label="下一页">
        <span aria-hidden="true">下一页</span>

    </a>
    </li>
    {% endif %}
</ul>

</nav>

    {% endblock %}

</body>
</html>