<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bbc/css/set_password.css' %}" >
	</head>
	<body>
		<div id="head">
			<div id="body_1">
				<span id="s1">
					<strong>重置密码</strong>
				</span>
				
			</div>
			<div id="body_2">
				<div id="body_3">
					<form action="{% url 'bbc:find_3_pwd' phone %}" method="post">
						{% csrf_token %}
						{% if error_message %}
						{{ error_message }}
						{% endif %}
						<input type="password" name="password" placeholder="请输入新的密码" class="i1">
						<div class="d1"></div>
						<input type="password" name="password_t" placeholder="再次输入新的密码" class="i1"/>
						<div class="d1"></div>
						<input type="submit" value="完成" id="login">
					</form>
			</div>
			</div>
			
		</div>
	</body>
</html>

